header{ 
    background-color: white;
    height: 140px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: auto;
    border-bottom: 2px solid #ccc;
}

body{
    background-image: url("../images/leaves-pattern.png");
    height: 900px;
}

h1{
    color: white;
}

h2{
    color: #4aaaa5;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #4aaaa5;
}

p{
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: left;
    line-height: 20px;
}

a{
    color: #777777;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    background-color: #666;
    border-top: 8px solid #4aaaa5;
    height: 30px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    text-align: center;
    color: white;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.name{
    background-color: #4aaaa5;
    width: 180px;
    text-align: center;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0px;
    position: absolute;
    top: 40px;
    left: 25%;
}

.button{
    height: 40px;
    width: 60px;
    margin-top: 80px;
    padding: 10px;
    float: right;
    position: relative;
    right: 200px;
}

.wrapper{
    top: 200px;
    left: 25%;
    background-color: white;
    width: 960px;
    text-align: center;
    position: relative;
    border: 1px #ccc solid;
    height: 500px;
}

img{
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
}

.about-me{
    overflow: auto;
}

.aside{
    width: 600px;
    float: right;
    margin-right: 50px;
}

.image{
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}

.image2{
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}

form{
    float: left;
    text-align: left;
    margin-left: 20px;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
}

#fname {
    position: relative;
    width: 400px;
    margin-left: 10px;
}

#lname {
    position: relative;
    width: 400px;
    margin-left: 10px;
    margin-top: 40px;
}

#comments {
    position: relative;
    width: 400px;
    margin-left: 10px;
    margin-top: 40px;
    height: 150px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    margin-top: 150px;
    
  }